# Data Science Assignment # 3

# QUESTION # 1

### Creating a new Column number of cast in cast cell data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('netflix_data.csv')

### Checking data is loaded already

In [3]:
data.head(n=2)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas

### Checking null values in cast columns

In [4]:
data.isnull().sum()

show_id            0
type               0
title              1
director        2389
cast             718
country          507
date_added        10
release_year       0
duration           0
description        0
genre              0
dtype: int64

### Replacing null values with 0 to avoid any error in data processing while creating new column

In [5]:
data['cast']=data['cast'].replace(np.nan,0)

### Checking again for null values in cast column

In [6]:
data.isnull().sum()

show_id            0
type               0
title              1
director        2389
cast               0
country          507
date_added        10
release_year       0
duration           0
description        0
genre              0
dtype: int64

In [7]:
def cast_number(i):
    if i==0:
        return 0
    else:
        a=len(i.split(","))
        return a

In [8]:
data['number_of_cast']= data["cast"].apply(cast_number)

In [9]:
data.head(n=2)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,number_of_cast
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV,11
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas,6

In [10]:
data1= data[['cast','number_of_cast']]

In [11]:
data1.head(n=20)

                                                 cast  number_of_cast
0   João Miguel, Bianca Comparato, Michel Gomes, R...              11
1   Demián Bichir, Héctor Bonilla, Oscar Serrano, ...               6
2   Tedd Chan, Stella Chung, Henley Hii, Lawrence ...               9
3   Elijah Wood, John C. Reilly, Jennifer Connelly...               9
4   Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...              12
5   Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...              10
6   Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...               8
7   Samuel L. Jackson, John Heard, Kelly Rowan, Cl...               5
8   Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...               9
9   Rajneesh Duggal, Adah Sharma, Indraneil Sengup...               8
10  Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...               7
11  Robert Więckiewicz, Maciej Musiał, Michalina O...              12
12                                                  0               0
13                                 Artiwara Kongmalai               1
14  Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...               7
15  Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...              13
16  Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...              10
17  Anders Danielsen Lie, Jon Øigarden, Jonas Stra...               7
18  Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...               8
19                 Lee Dixon, Ian Wright, Paul Merson               3

# QUESTION # 2

## In the provided dataset count how many number of tv-shows and movies of each genre are there

In [12]:
data.groupby('genre').count()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,number_of_cast
genre,,,,,,,,,,,
Action,721,721,721,714,721,706,721,721,721,721,721
Anime Features,19,19,19,19,19,19,19,19,19,19,19
Anime Series,148,148,148,9,148,138,147,148,148,148,148
British TV,232,232,232,23,232,220,231,232,232,232,232
Children,502,502,502,471,502,449,502,502,502,502,502
Classic,21,21,21,1,21,21,19,21,21,21,21
Classic Movies,77,77,77,76,77,77,77,77,77,77,77
Comedies,1074,1074,1074,1056,1074,1048,1074,1074,1074,1074,1074
Crime TV,369,369,369,46,369,341,369,369,369,369,369
Cult Movies,12,12,12,12,12,12,12,12,12,12,12
Documentaries,751,751,751,707,751,709,751,751,751,751,751
Docuseries,194,194,194,21,194,166,193,194,194,194,194
Dramas,1384,1384,1384,1373,1384,1353,1384,1384,1384,1384,1384
Horror Movies,244,244,244,243,244,240,244,244,244,244,244
Independent Movies,20,20,20,20,20,20,20,20,20,20,20
International Movies,114,114,114,110,114,105,114,114,114,114,114
International TV,690,690,689,46,690,574,689,690,690,690,690
Kids,359,359,359,15,359,297,357,359,359,359,359
LGBTQ Movies,1,1,1,1,1,1,1,1,1,1,1
Music,17,17,17,17,17,14,17,17,17,17,17
Reality TV,102,102,102,1,102,88,102,102,102,102,102
Romantic Movies,3,3,3,3,3,3,3,3,3,3,3
Romantic TV,28,28,28,1,28,28,28,28,28,28,28
Sci-Fi,11,11,11,11,11,11,11,11,11,11,11
Spanish-Language,2,2,2,0,2,2,2,2,2,2,2
Sports Movies,1,1,1,0,1,1,1,1,1,1,1
Stand-Up,354,354,354,303,354,324,354,354,354,354,354
TV Action,37,37,37,2,37,37,36,37,37,37,37
TV Comedies,110,110,110,3,110,110,109,110,110,110,110
TV Dramas,62,62,62,0,62,62,62,62,62,62,62
TV Horror,10,10,10,1,10,10,10,10,10,10,10
TV Sci,1,1,1,0,1,1,1,1,1,1,1
TV Shows,12,12,12,8,12,7,12,12,12,12,12
Thrillers,49,49,49,49,49,49,49,49,49,49,49
Uncategorized,56,56,56,36,56,37,56,56,56,56,56